
<section class=" container pt-3 ">
     <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">BORASCOPE</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/Home">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Settings
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/log/1">History Log</a></li>
                            <li><a class="dropdown-item" href="/Users/1">Usuarios</a></li>
                            
                        </ul>
                    </li>

                </ul>
                
            </div>
        </div>
    </nav>

    <div class="container py-3 d-flex h-100">
          <aside class="aside p-5 mt-2 mb-5 d-flex flex-column justify-content-center">
            <ul>
                <li><a class="text-start mb-3" href="/Home"><img src="/resources/icons/home.svg" alt=""> Home</a></li>
    
                <li><a class="text-start mb-3" href="/nuevoPaciente"><img src="/resources/icons/user-plus.svg" alt=""> Nuevo Paciente</a></li>
           
                <li><a class="text-start mb-3" href="/Pacientes/1"><img src="/resources/icons/users.svg" alt=""> Pacientes </a></li>
                
                <li><a class="text-start mb-3" href="/citas/1"><img src="/resources/icons/list.svg" alt=""> Citas</a></li>
                
                <li><a class="text-start mb-3" href="/logout"><img src="/resources/icons/log-out.svg" alt=""> Log out</a></li>
            </ul>
        </aside>
            <div class="container contentContainers">
                <div class="header mt-5 p-3 d-flex">
                    <a href="/Home"><img width="50px" src="/resources/icons/chevrons-left.svg" alt=""></a>
                    <h1>Pacientes</h1>
                </div>
                <div class="">
        <table id="table" class="table table-bordered table-striped table-hover m-2">
            <thead>
                <tr>
                    <th></th>
                    <th><input class="form-control me-2" type="search"  id="searchPatient" placeholder="Search" aria-label="Search"></th>
                    <th><button class="btn btn-outline-success" type="submit">Search</button></th>
                     
                </tr>
                <tr> 
                    <th>#</th>
                    <th>Cedula</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Telefono</th>
                    <th>ult. fecha</th>
                    <th>Status</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="tableBody">
                {{#each rows}}
                
                    <tr>
                       <td><a href="/Paciente/{{cedula}}" >{{id}}</a></td> 
                        <td>{{cedula}}</td>
                        <td>{{nombre}}</td>
                        <td>{{apellido}}</td>
                        <td>{{edad}}</td>
                        <td>{{fechaNac}}</td>
                        <td>{{sexo}}</td>
                        <td><a href="/editPaciente/{{cedula}}"><img src="/resources/icons/edit.svg" alt=""></a></td>
                        <td><a href="/deletePaciente/{{cedula}}"><img src="/resources/icons/trash-2.svg" alt=""></a></td>
                    </tr>
               
                {{/each}}
            </tbody>
          
        </table>
        </div>
        <nav aria-label="Page navigation example">
 <ul class="pagination justify-content-center">
    <li class="page-item ">
        {{#each newId}}
      <a class="page-link {{prevId}}" href="/log/{{prevId}}" >Previous</a>

    </li>
    <li class="page-item"><a class="page-link" href="/log/1">1</a></li>
    <li class="page-item"><a class="page-link" href="/log/2">2</a></li>
    <li class="page-item"><a class="page-link" href="/log/3">3</a></li>
    <li class="page-item">
   
      <a class="page-link {{id}}" href="/log/{{id}}">Next</a>
      {{/each}}
    </li>
  </ul>
</nav>
        </div>
    </div>
</section>
<script>
    let disabled = document.querySelectorAll('.disabled')
    console.log(disabled)
    disabled.forEach((element) =>{
        element.setAttribute('href', '#')
    })
    const tableBody = document.querySelector('.tableBody')
    const searcher = document.querySelector('#searchPatient')
   

    const table = document.getElementById('table') 
    searcher.addEventListener('change', ()=>{
        while (tableBody.hasChildNodes()){
            tableBody.removeChild(tableBody.childNodes[0])
        }
        value = searcher.value
        start(value)
    })

    function printFromSearch(data){
        data.forEach((dataset) =>{
          
            let tr = document.createElement('tr')
            tr.innerHTML = `<td><a href="/Paciente/${dataset.cedula}" >${dataset.id}</a></td> 
                        <td>${dataset.cedula}</td>
                        <td>${dataset.nombre}</td>
                        <td>${dataset.apellido}</td>
                        <td>${dataset.edad}</td>
                        <td>${dataset.fechaNac}</td>
                        <td>${dataset.sexo}</td>
                        <td><a href="/editPaciente/${dataset.cedula}"><img src="/resources/icons/edit.svg" alt=""></a></td>
                        <td><a href="/deletePaciente/${dataset.cedula}"><img src="/resources/icons/trash-2.svg" alt=""></a></td>`
        
            tableBody.appendChild(tr)

        })
    }

    async function start(id){
    let dataa
    const response = await fetch(`/pacientesSearch/${id}`)
    const data = await response.json();
    console.log(data)
    printFromSearch(data)
    return data
}
</script>