<div class="container" style=" height: 100%; max-width: 95%; margin: auto;">
        <div class="header" style="border-bottom: 1px solid black;">
            {{#each empresa}}
           <p>Nro de historia:<h3>{{id}}</h3></p> 
            {{/each}}
        </div>
        <div class="containerBody" >
            {{#each rows}}
            <table style="width:100%; margin: auto;">
                <tr>
                    <td colspan="5" style="text-align: center;"><h3 >Informacion Personal</h3></td>
                </tr>
                <tr>
                    <td colspan="2"> <p style="padding:15px; font-weight: bolder; border-bottom: 1px solid black; margin: 0;"> Primera Consulta: <span style="font-weight: lighter;">{{cedula}}</span>  </p></td>
                    <td colspan="3"> <p style="padding:15px; font-weight: bolder; border-bottom: 1px solid black; margin: 0;"> Dr: <span style="font-weight: lighter;">{{nombre}}</span>  </p></td>                    
                </tr>
            </table>
            <table style="width:100%; margin: auto;">
                <tr>
                    <td colspan="1"> <p style="padding:15px; font-weight: bolder; border-bottom: 1px solid black; margin: 0;"> Cedula: <span style="font-weight: lighter;">{{cedula}}</span>  </p></td>
                    <td colspan="2"> <p style="padding:15px; font-weight: bolder; border-bottom: 1px solid black; margin: 0;"> Nombre: <span style="font-weight: lighter;">{{nombre}}</span>  </p></td>
                    <td colspan="2"> <p style="padding:15px; font-weight: bolder; border-bottom: 1px solid black; margin: 0;"> Apellido: <span style="font-weight: lighter;">{{apellido}}</span>  </p></td>
                    
                </tr>
            </table>
            <table style="width:100%; margin: auto;">
                <tr>
                    <td colspan="1"> <p style="padding:15px; font-weight: bolder; border-bottom: 1px solid black; margin: 0;"> Edad: <span style="font-weight: lighter;">{{edad}}</span>  </p></td>
                    <td colspan="2"> <p style="padding:15px; font-weight: bolder; border-bottom: 1px solid black; margin: 0;"> Fecha de Nacimiento: <span style="font-weight: lighter;">{{fechaNac}}</span>  </p></td>
                    <td colspan="2"> <p style="padding:15px; font-weight: bolder; border-bottom: 1px solid black; margin: 0;"> Sexo: <span style="font-weight: lighter;">{{sexo}}</span>  </p></td>
                    
                </tr>
            </table>
            <table style="width:100%; margin: auto;">
                <tr>
                    <td colspan="1"> <p style="padding:15px; font-weight: bolder; border-bottom: 1px solid black; margin: 0;"> Lugar Nac: <span style="font-weight: lighter;">{{edad}}</span>  </p></td>
                    <td colspan="2"> <p style="padding:15px; font-weight: bolder; border-bottom: 1px solid black; margin: 0;"> Edo. Civil: <span style="font-weight: lighter;">{{fechaNac}}</span>  </p></td>
                    <td colspan="2"> <p style="padding:15px; font-weight: bolder; border-bottom: 1px solid black; margin: 0;"> Ocupacion: <span style="font-weight: lighter;">{{sexo}}</span>  </p></td>
                    
                </tr>
            </table>
            
            
            
            <table style="width:100%; margin: auto;">
                <tr>
                    <td colspan="5" style="text-align: center;"><h3 >Informacion de Contacto</h3></td>
                </tr>
                <tr>
                    <td colspan="1"> <p style="padding:15px; font-weight: bolder; border-bottom: 1px solid black; margin: 0;"> Telefono: <span style="font-weight: lighter;">{{telefono}}</span>  </p></td>
                    <td colspan="1"> <p style="padding:15px; font-weight: bolder; border-bottom: 1px solid black; margin: 0;"> Email: <span style="font-weight: lighter;">{{email}}</span>  </p></td>
                    
                </tr>
            </table>
            <table style="width:100%; margin: auto;">
                <tr>
                    <td colspan="1"> <p style="padding:15px; font-weight: bolder; border-bottom: 1px solid black; margin: 0;"> Seguro: <span style="font-weight: lighter;">{{seguro}}</span>  </p></td>
                    <td colspan="2"> <p style="padding:15px; font-weight: bolder; border-bottom: 1px solid black; margin: 0;"> Representante: <span style="font-weight: lighter;">{{representante}}</span>  </p></td>
                </tr>
            </table>
            <table style="width:100%; margin: auto;">
                <tr>
                    <td colspan="2"> <p style="padding:15px; font-weight: bolder; border-bottom: 1px solid black; margin: 0;"> Direccion: <span style="font-weight: lighter;">{{direccion}}</span>  </p></td>
                    
                </tr>
            </table>
            <table style="width:100%; margin: auto;">
                <tr>
                    <td colspan="1"> <p style="padding:15px; font-weight: bolder; border-bottom: 1px solid black; margin: 0;"> Direccion Ofc: <span style="font-weight: lighter;">{{seguro}}</span>  </p></td>
                    <td colspan="2"> <p style="padding:15px; font-weight: bolder; border-bottom: 1px solid black; margin: 0;"> Telefono Ofc: <span style="font-weight: lighter;">{{representante}}</span>  </p></td>
                </tr>
            </table>


            <table style="width:100%; margin: auto;">
                <tr>
                    <td colspan="5" style="text-align: center;"><h3 >Informacion Medica</h3></td>
                </tr>
                <tr>
                    <td colspan="1"> <p style="padding:15px; font-weight: bolder; border-bottom: 1px solid black; margin: 0;"> Antecedentes <span style="font-weight: lighter;">{{patologias}}</span>  </p></td>
                    
                </tr>
            </table>
            <table style="width:100%; margin: auto;">
                <tr>
                    <td colspan="2"> <p style="padding:15px; font-weight: bolder; border-bottom: 1px solid black; margin: 0;"> Motivo de Consulta: <span style="font-weight: lighter;">{{motivoConsulta}}</span>  </p></td>
                    
                </tr>
            </table>
        {{/each}}
                        <table border="1px" style="border-bottom: 1px solid black; flex: 1; width: 100%; margin-top:20px;">
                            <thead>
                                <tr>
                                    <th>Fecha Consulta</th>
                                    <th>Observaciones de Consulta</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each result}}
                                <tr >
                                    <td style="padding: 10px;">{{fechaConsulta}}</td>
                                    <td style="padding: 10px;">{{Observaciones}}</td>
                                </tr>
                               {{/each}}
                            </tbody>
                        </table>  
                        
        </div>        
    </div>
   